target
.settings
/.classpath
/.project
/.target
.gradle
build
/bin
/out
/.idea
/.idea_modules
/*.iml
/*.ipr
/*.iws
.DS_Store
extractor.log
/mobileOptimization.log
/src/main/resources/rebel.xml
copyfile.sh
temp/
/classes
/test/
